@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&family=Ubuntu:wght@300&display=swap');
html {
	background: url(Images/circle.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
  overflow: hidden;
}

nav ul{
	display: flex;
	list-style-type: none;
	padding: 60px;
	margin: 10px;
}

nav ul li{
	padding: 0 40px;
	cursor: pointer;
}

.brand{
	font-weight: bolder;
	font-size: 1.3rem;
	font-family: 'Ubuntu';
}

.name{
	font-size: 2rem;
	display: inline-flex;
	align-content: center;
}

form.nosubmit {
  border: none;
  padding: 0;
}

input.nosubmit {
  width: 260px;
  border: 1px solid #555;
  display: block;
  padding: 5px 4px 5px 40px;
  border-radius: 1.625rem;
  border-color: whitesmoke;
  background: white url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}

.container{
	min-height: 54px;
	width: 50px;
	z-index: -1;
	position: absolute;
}
.container img{
	margin-left: 50px;
}

.container2{
	width: 120px;
	height: 120px;
	z-index: 2;
	background: rosybrown;
	margin-left: 750px;
	text-align: center;
	font-family: 'Mincho';
	font-size: 50px;
	color: white;
	justify-content: center;
}

.part{
	align-content: center;
}
.container3{
	margin-left: 950px;
	font-size: 100px;
	font-family: 'Mincho';
	text-align: left;
	position: relative;
	top: -150px;
} 

.box {
  text-align: center;
  position: relative;
  top: -90px;
  right: -470px;
}
.col {
  display: inline-block;
  background: rosybrown;
  padding: 2rem 2rem;
  width: 220px;
  cursor: pointer;
}

.col:hover{
	opacity: 0.7;
}

.column{
	float: left;
	text-align: center;
	position: relative;
	top: -70px;
}

.first{
	margin-left: 940px;
	width: 70px;
	height: 70px;
	list-style-type: none;
	cursor: pointer;
}

.first:hover{
	transform: scale(0.5);
}

.textline{
	text-align: right;
	position: relative;
	top: -70px;
}
.second{
	width: 70px;
	height: 70px;
	list-style-type: none;
	cursor: pointer;
	hover
}
.second:hover{
	transform: scale(0.5);
}

.fa {
  padding: 10px;
  font-size: 10px;
  width: 25px;
  height: 25px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  position: relative;
  top: -40px;
}

.fa:hover {
  opacity: 0.7;
}


.fa-facebook {
  background: black;
  color: white;
  margin-left: 1300px;
}

.fa-twitter {
  background: black;
  color: white;
}

.fa-instagram {
  background: black;
  color: white;
}

.fa-google{
  background: black;
  color: white;
}




